<web-app>

<servlet>
<servlet-name>login1</servlet-name>
<servlet-class>LoginUser</servlet-class>
</servlet>
<servlet>
<servlet-name>register1</servlet-name>
<servlet-class>RegisterNewUser</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>login1</servlet-name>
<url-pattern>/ulogin</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>register1</servlet-name>
<url-pattern>/uregister</url-pattern>
</servlet-mapping>

</web-app>
